<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
     <title>Is The Parking Ban On?</title>   
</head>

<body>
    <div class="parent">
        <div class="child">

                <h1> <%=antwoord%> </h1>
                <p> <%=status%> </p>
                
                <br/>
                <a href="http://www.halifax.ca/snow/update.php#parking">www.halifax.ca</a>
                        
            </div>
        </div>
    </div>



  
</body>

</html>