<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="favicon-32x32.ico" sizes="32x32">
    <link rel="shortcut icon" type="image/png" href="favicon-16x16.ico" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Is The Parking Ban On?</title>   
    <meta name="description" content="Is The Parking Ban On? cleverly scrapes www.halifax.ca and checks if the parking ban is in effect, providing you with a concise, single serving of information.">
    <meta name="keywords" content="Halifax,Parking,Ban,Check,Effect,Enforced,Lifted">
    <%-link%>
    <meta property="og:title" content="Is The Parking Ban On?"/>
    <meta property="og:site_name" content="istheparkingbanon.ca"/>
    <meta property="og:description" content="Is The Parking Ban On? cleverly scrapes www.halifax.ca and checks if the parking ban is in effect, providing you with a concise, single serving of information." />
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="parent">
        <div class="child">
            <h1> <%=antwoord%> </h1>
            <p> <%=status%> </p>
            
            <br/>
            <a href="https://www.halifax.ca/transportation/winter-operations/service-updates">www.halifax.ca</a>
        </div>

        <div class="author">
            <span class="peace">✌︎</span>
            <a class="name" href="mailto:yasharasheri@gmail.com?Subject=Is The Parking Ban On?" target="_top">yashar</a>
        </div>   
    </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91707208-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>